@page
    <div class="container">
        <div class="row">
            <h3 id="channelName">channel-1</h3>
        </div>
        <div class="container">
            <button type="button" class="btn btn-secondary" id="channelID_0" onclick="changeChannel(0)" disabled>channel-1</button>
            <button type="button" class="btn btn-secondary" id="channelID_1" onclick="changeChannel(1)">channel-2</button>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row" id="bottom">
            <div class="col-4"><input type="text" id="messageInput" size="150" maxlength="1000"/></div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ol id="messagesList"></ol>
        </div>
    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>