@page
    <div class="container">
        <h5 id="loggedInUser">Logged In As: None</h5>
        <h5 id="loggedInUserRole">None</h5>
        <div class="row">        
            <h3 id="channelName">open-chat</h3>
        </div>
        <div class="container" id="channelButtonHolder">
            <!-- This channel will always exist by default -->
            <button type="button" class="btn btn-secondary" id="channelID_0" onclick="changeChannel(0)" disabled>open-chat</button>
            <button type="button" class="btn btn-secondary" id="addChannel">+</button>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row" id="bottom">
            <div class="col-4"><input type="text" id="messageInput" size="150" maxlength="1000"/></div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ol id="messagesList"></ol>
        </div>
    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>