@page
<head>
<title>Prototype UI</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
<div class="row no-gutters">
    <!-- 3 column div for navbar and settings -->
    <div class="col-3">
        <nav id="navbar">

            <!-- Professor settings -->
            <!--break without this for some reason-->
            <div class="dropdown" id="settingsDropdown"></div>

            <div class="modal" tabindex="-1" role="dialog" id="settingsModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Settings</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <button class="btn-primary" type="button">Open log</button>
                            <button class="btn-primary" type="button" onclick="addUserToChannel()">Add user(s) to chat room</button>
                            <button class="btn-primary" type="button" onclick="removeUserFromChannel()">Remove user(s) from chat room</button>
                            <button class="btn-primary" type="button">Mute user(s)</button>
                            <button class="btn-primary" type="button">Unmute user(s)</button>
                            <button class="btn-danger" type="button" onclick="deleteChannel()">Delete Chatroom</button>
                            <button class="btn-danger" type="button">Delete messages</button>

                            <!--Use this template for checkboxes.-->
                            <br />
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault" style="color: black">
                                For future references
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

           <!-- Student settings -->
            <div class="dropdown" id="studentSettings">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <button class="dropdown-item" type="button">Delete own messages</button>
                </div>
            </div>
         
            <!-- Buttons to add/request chats -->
            <div id="buttonlist" class="btn-group-justified btn-group-vertical">
                <button type="button" class="btn btn-warning" id="profSettings" data-toggle="modal" data-target="#settingsModal">Settings</button>
                <button type="button" class="btn btn-info" id="channelID_0" onclick="changeChannel(0)" disabled>open-chat</button>
                <button type="button" class="btn btn-outline-success" id="addChannel">Add Chat Room</button>
                <button type="button" class="btn btn-outline-success" id="requestChat">Request One-on-One</button>
           </div>
        </nav>
    </div>
    <!-- 6 column div for chatbox that shows messages -->
    <div class="col-6">
        <div id="chatbox">
            <!-- New messages will go here -->
        </div>
        <div id="messagebox">
                <textarea maxlength="1000" id="messageInput" name="messageInput" placeholder="New Message:"></textarea>
        </div>
    </div>

    <!-- 3 column div for users display -->
    <div class="col-3">
        <ul id="usersShown">
            <!-- Channel members will go here -->
        </ul>
    </div>
</div>
</div>
</body>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>