@page
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row" id="bottom">
            <div class="col-4"><input type="text" id="messageInput" size="150"/></div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>